.job{
    font-size: 1.3em;
    font-weight: bold;
}

.job-page{
    font-size: 1.5em;
    font-weight: bold;
}

.jobDesc{
    font-size: 1em;
}

#jobpage{
    max-width: 960px;
}

.companyName{
    font-size: 1em;
}

.jobposts{
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
  
    cursor: pointer;

    /*box-shadow: 4px 6px 10px;*/
    max-width: 960px ;
    width: 700px;
    background-color: rgb(255, 255, 255);
  
}

.jobposts:first-child{
    border-bottom: 0px solid black;
}

.jobbar{
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
   
    cursor: pointer;

    /*box-shadow: 4px 6px 10px;*/
    max-width: 960px ;
    width: 700px;
    background-color: rgb(255, 255, 255);
  
}

.jobsearch{
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    /*box-shadow: 4px 6px 10px;*/
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.jobFilter{
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top: 0;

    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 1080px;
}

.salary li{
    text-decoration: none;
    font-size: 0.9em;
    line-height: 2em;
}

.salary li a{
    text-decoration: none;
    color: black;
}
.salary li a:hover{
    text-decoration: underline;
    color: black;
}
#activeJob{
    border-left: 3px solid rgb(255, 0, 0);
}

#titleJobSearch{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: -1em;
}

#jobInput input{
    display: inline !important;
    font-size: 1em !important;
    border-radius: 20px;
    width: 15%;
    margin-top: 1em;
    margin-right: 1em;
    
}

#jobsearchbtn{
    background-color: rgb(10, 47, 255);
    border: 0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 1em;
    color: white;
    font-family: 'Roboto'
    
}

#jobsearchbtn:hover{
    background-color: rgb(59, 89, 255);

}

.show { opacity: 1; }

.applyInput{
    width: 50%;
    padding: 15px;
    border-radius: 30px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
}