

form input {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}


 p{
    border: 2px solid rgb(79, 190, 255);
    border-radius: 20px;
    list-style-position:none;
    min-width: 10%;
    margin-bottom: 10px;
    padding: 5px;
    display: inline-block;
    color: white;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
}