.posts{
    border-radius: 0.3em;

    border: 1px solid rgb(172, 172, 172);
    margin: 2em 0 2em 0;
    box-shadow: 4px 6px 10px;
    max-width: 100%;
    padding-bottom: 5%;
    position: relative;
}

#woym{
    font-size: 2em;
}

.post_acc_name{
    font-size: 1.5em;
    font-weight: 600;
}

.p-posts{
    margin-right: 3.5em;
    margin-left: 3.5em;
}

.reaction{
    margin: auto;
    display: block;
    text-align: center;
}

.SideBar_Options{
    font-size-adjust: 0.1;
    text-align: center;
    margin: auto;
    display: block;
    margin-right: 2em;
    margin-top: 1em;
}

.sidebar-nav{
    margin-left: -20px;
    background-color: rgb(246, 252, 255);
    height: 100%;
    position: fixed;
    max-width: 15%;
   
}

li{
    list-style-type:none;
}


